<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p: %c - %m%n" />
		</layout>
	</appender>

  <appender name="ERROR_LOG" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="/tmp/log/azcollector-error.log"/>
    <param name="append" value="true"/>
    <param name="MaxFileSize" value="10000KB"/>
    <param name="MaxBackupIndex" value="10"/>
    <layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{DATE} %-5p: %c - %m%n" />
    </layout> 
  </appender>
  
  <appender name="MAIN_LOG" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="/tmp/log/azcollector.log"/>
    <param name="append" value="true"/>
    <param name="MaxFileSize" value="10000KB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d{DATE} %-5p: %c - %m%n" />
    </layout> 
  </appender>  

	<logger name="com.redbee">
  		<level value="debug"/>
		<appender-ref ref="console" />  		 
		<appender-ref ref="MAIN_LOG" />  		 
	</logger>
  
	<root>
		<priority value="error" />
		<appender-ref ref="ERROR_LOG" />
	</root>
   
</log4j:configuration>